.outer-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 30px;
    background-color: #c1dcdc;
    height: 55vh;
}


.graphic{
    justify-content:flex-end;
}
.circle{
    background-color: black;
    height:10vh;
    width:10vh;
    border-radius: 200px 200px 0px 200px;
}


img{
    display:flex;
    height:75%;
    width:75%;

}
