@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Playfair:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



button {
  background-color: transparent;
  border: none;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 350;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
}

button:disabled{
  background-color: transparent;
  border: none;
  color: #8f8f8f;
  cursor: pointer;
  display: inline-block;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 350;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
}

.header-buttons{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  grid-column: 2;
}

.nav-bar{
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
  align-items: center;
  height: 10vh;
}

.cart-button{
  grid-column: 5;
  justify-self: end;
  padding-right: 3vw;
}


.logo{
  display:grid;
  grid-column: 1;
  font-family: playfair;
  font-weight:400;
  font-size:48px;
  padding-left: 2vw;
}