@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


h1{
  font-family:inter;
  font-weight:200;
  font-size:30px;
  display:flex;
  align-items:flex-end;
}

button{  
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 8px;
    border-width: 0;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
}

.header-buttons{
  display:flex;
  align-items:flex-end;
  justify-content:space-evenly;
}

.nav-bar{
  border:1px dotted red;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
}